extends baseEmail

block content
  p Hi #{name},
  p The following is an application from #{data.name}.
  p Name: #{data.name}
  p Phone: #{data.phone}
  p Email: #{data.email}
  p Location: #{data.location}
  p Position: #{data.position}
  p Availability: #{data.availability}
  p Message: #{data.message}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  //- a(href=`${}`, target='_blank') Upload user photo
  p #{data.name} would be happy if you reply quickly!
